<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Assignments/src/com/Aurionpro/Assignment4/MaximumOf2dArray.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.Aurionpro.Assignment4.MaximumOf2dArray"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Assignments"/>
</launchConfiguration>
